<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <img src="./assets/amica.png" alt="">
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <div class="titulo">
        <h1>Cotización</h1>
        <br>
        <p>Dia:             Abril 27, 2018</p>
        <p>Válida hasta:    Abril 06, 2018</p>
        <p>Cotización #:    0000001276</p>
        <p>Cliente:         Esteban</p>
      </div>
    </div>
  </div>
  <br><br><br>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Horas</th>
            <th>tarifa</th>
            <th>total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>asdas</td>
            <td>asdasd</td>
            <td>asdasdasd</td>
            <td>asdasdasdas</td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>